<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/adminHead.ejs') %>
</head>
<body>
    <main>
        <section class="d-flex justify-content-center align-items-center mt-5">
            <div class="container card p-0">
                <div class="card-header">
                    <h3 class="text-center">Sistema Integrado de Gestión Bibliotecaria</h3>
                    <p class="fw-bold text-center text-muted">¿Qué deseas hacer hoy?</p>
                </div>
                <div class="container d-flex justify-content-evenly flex-wrap card-body">
                    <div class="d-flex flex-column ">
                        <a href="loans" class="btn btn-outline-dark fw-bold mb-3"><i class="bi bi-arrow-repeat me-2"></i>Circulación</a>
                        <a href="users" class="btn btn-outline-dark fw-bold mb-3"><i class="bi bi-people me-2"></i>Usuarios</a>
                        <a href="penalties" class="btn btn-outline-dark fw-bold mb-3"><i class="bi bi-ban me-2"></i>Sanciones</a>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="cataloging" class="btn btn-outline-dark fw-bold mb-3"><i class="bi bi-tags me-2"></i></i>Catalogación</a>
                        <a href="reservations" class="btn btn-outline-dark fw-bold mb-3"><i class="bi bi-calendar-check me-2"></i>Reservas</a>
                        <a href="reports" class="btn btn-outline-dark fw-bold mb-3"><i class="bi bi-pie-chart me-2"></i>Informes</a>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center flex-wrap">
                    <a href="logout" class="btn btn-outline-danger fw-bold me-3 mb-2 mt-2"><i class="bi bi-box-arrow-right me-2"></i>Cerrar sesión</a>
                    <a href="/" class="btn btn-outline-dark fw-bold mb-2 mt-2"><i class="bi bi-house me-2"></i>Inicio</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>