<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
        <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header>
        <%- include ('../partials/adminNavbar') %>
    </header>
    <main class="container mt-5">
        <form action="newbook" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="isbn" name="isbn" placeholder="ISBN"
                    required>
                <label for="isbn">ISBN</label>
                <div class="invalid-feedback">
                    Por favor ingresa el ISBN
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Título"
                    required>
                <label for="title">Título</label>
                <div class="invalid-feedback">
                    Ingresa el título
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="author" name="author" placeholder="Autor" required>
                <label for="author">Autor(es) (Separados por coma)</label>
                <div class="invalid-feedback">
                    Por favor ingresa al menos un autor
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Editorial" required>
                <label for="publisher">Editorial</label>
                <div class="invalid-feedback">
                    Por favor ingresa la editorial
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="pages" name="pages" placeholder="Páginas"
                    required minlength="8">
                <label for="pages">Páginas</label>
                <div class="invalid-feedback">
                    Por favor ingresa la cantidad de páginas
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="genres" name="genres" placeholder="Género"
                    required>
                <label for="genres">Género(s) (Separados por coma)</label>
                <div class="invalid-feedback">
                    Por favor ingresa el género
                </div>
            </div>
            <div class="form-floating mb-3">
                <select name="language" id="language" class="form-select">
                    <option value="Español">Español</option>
                    <option value="Inglés">Inglés</option>
                    <option value="Francés">Francés</option>
                </select>
                <label for="language">Idioma</label>
                <div class="invalid-feedback">
                    Por favor seleccione el idioma
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="copies" name="copies" placeholder="Número de ejemplares">
                <label for="copies">Número de ejemplares</label>
            </div>
            <div class="form-floating mb-3">
                <input type="file" name="cover" class="form-control" required>
                <label for="cover">Portada</label>
                <div class="invalid-feedback">
                    Por favor adjunte la imagen de la portada
                </div>
            </div>
            <div class="form-floating mb-4">
                <textarea class="form-control" id="summary" name="summary" rows="4" placeholder="Resumen" required></textarea>
                <label class="form-label" for="summary">Resumen</label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark btn-block">Registrar</button>
            </div>
        </form>
    </main>
    <script src="/scripts/validateForm.js"></script>
</body>

</html>