<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/navbar') %>
    </header>
    <main class="mt-5 pt-4">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <img src="<%= book.cover %>" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <a href="">
                                <span class="badge bg-info me-1">Materia</span>
                            </a>
                        </div>
                        <strong><p style="font-size: 20px;"><%= book.title %></p></strong>
                        <p>Resumen</p>
                        <form class="d-flex justify-content-left">
                            <button class="btn btn-primary" type="submit">
                                Reservar
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </main>
</body>
</html>