<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newbook" method="post" enctype="multipart/form-data">
        <input type="text" name="isbn">
        <input type="text" name="title">
        <input type="text" name="author">
        <input type="text" name="publisher">
        <input type="text" name="publicationYear">
        <input type="text" name="pages">
        <input type="text" name="subject">
        <input type="text" name="language">
        <input type="file" name="cover">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>