body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.login-bg {
    height: 70vh;
}

.login-bg img {
    filter: brightness(40%);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
}

main .section__one {
    background-image: url(/imgs/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
}

.section .search__container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.section .search__container .searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section .search__container .searchbar label {
    margin-bottom: 12px;
    color: #FAFAFF;
}

.section .search__container .searchbar .searchbar__container {
    border-radius: 100px;
    border: solid 1px #DADDD8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAFAFF;
}

#search__input {
    border: none;
    outline: none;
}

.section .search__container .searchbar .searchbar__container:hover {
    box-shadow: 0 0.4rem 0.6rem 0 #1C1C1C;
    border-color: #1C1C1C;
}

.schedule-container {
    background-image: url(/imgs/fondoCalendar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

img.recommended {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.bookcover {
    width: 25rem;
}

img.catalog-cover {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.loader-section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 999;
    transition: all 1s 1s ease-out;
    opacity: 1;
}

.loaded {
    opacity: 0;
    z-index: -1;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #1C1C1C;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

#profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}