body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.login-bg {
    height: 70vh;
}

.login-bg img {
    filter: brightness(40%);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
}