<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between ">
        <a class="navbar-brand fs-3" href="/">
            <img src="/imgs/bpc.svg" alt="Logo biblioteca" width="100" height="100">
            <span class="d-none d-lg-inline d-md-inline d-sm-inline">Biblioteca Pública de Campiñas</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% if (!locals.userAuthenticated) { %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark me-2 mb-2 mb-lg-0" href="/signup">
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="/signin">
                        <i class="bi bi-person"></i>
                    </a>
                </li>
            </ul>
        </div>
        <% } else if (locals.userAuthenticated) { %>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark me-2 mb-2 mb-lg-0" href="/profile">
                            <i class="bi bi-person"></i>
                        </a>
                    </li>
                    <% if (locals.user.role == 'librarian') { %>
                        <li class="nav-item">
                            <a class="btn btn-dark me-2 mb-2 mb-lg-0" href="/admin">
                                <i class="bi bi-gear"></i>
                            </a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="btn btn-dark" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        <% } %>
    </div>
</nav>
